
.container {
    text-align: center;
}

#globe {
    font-size: 95px; 
    color: #5BB95C;   
}

#facebook {
    font-size: 95px;       
    color: #4394B9;
}

#lightning-bolt {
    font-size: 95px;
    color: #F9EA37;
}

#main-page-description {
    text-align: center !important;
    margin-top: 45px;
    font-weight: 200 !important;
}

.main-pg-titles {
    font-weight: 300;
}

#view-polls {
    text-align: center;
    width: 375px;
    margin-top: 35px;
}

#del-poll-btn-div {
    width: 45px;
    float: left;
}

#del-poll-btn {
    background: #C3C3C3;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 45px;
    height: 28px;
    font-size: 18px;
    font-weight: 300;
    line-height: 10px;
    /*float: right;*/
}

#del-poll-btn:hover {
    background: #D44B47;
    color: white;
}

#poll-title-area {
    background-color: #D7D7D7;
    color: white;
    float: left;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 28px;
    width: 300px;
}

#poll-title-area:hover {
    color: white;
    background-color: #5BB95C;
}

#poll-title-text {
    font-size: 18px;
    font-weight: 300;  
}

#poll-title-vote {
    color: #5cb85c;
}

#poll-item {
    margin-bottom: 8px;
    height: 30px;
    width: 380px;
    /*border: 1px solid #000;*/
    border-radius: 6px; 
}


#del-option:hover {
    background-color: #D9534F;
    color: white;
}

#poll-option-inputbox {
    margin-bottom: 15px;
}

.poll-vote {
    display: inline-block;
    margin-right: 7px;
    margin-top: 15px;
}

#poll-title {
    max-width:435px !important;
    margin-bottom: 15px;
}

input, .input-group {
    margin: 0 auto;
    max-width: 400px;
}

.input-group-addon {
    min-width: 10px;
}

#new-poll {
    text-align: center;
    max-width: 600px;
}

#poll-header {
    font-weight: 400;
}


.congrats {
    text-align: center;
}

.congrats h1,
.congrats h2,
.congrats h3 {
    font-weight: 300;
}


#cast-vote-question {
    margin-bottom: 30px;
}

.form-control {
    text-align: left;
}

.thing-form {
    margin: 20px 0;
}

#graph {
    text-align: center;
    margin-top: 25px;
}

#graph h3 {
    font-weight: 300;
    font-size: 35px;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}


.btn {
    width: 150px;
}


/*p {
    font-weight: bold;
}*/

.form-control {
    width: 450px !important;
}

#remove-poll-btn {
    width: 50px !important;
}
